.cards .container {
    padding: 50px 20px 20px 20px;
}
.pagination {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 100%;
    overflow-x: auto;
}

.pagination__button {
    cursor: pointer;
    width: 30px !important;
    height: 30px !important;
    color: black;
    border: 1px solid transparent;
    border-radius: 100% !important;
    transition: all 0.3s;
}

.pagination__button.active {
    color: white;
    background-color: #4C4C4C;
    border-color: #4C4C4C;
}

.pagination__button:hover {
    border-color: #4C4C4C;
}

@media (max-width: 425px) {
    .pagination__button {
        width: 30px !important;
        height: 30px !important;
    }
}