.filter {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    flex-wrap: wrap;
}

@media (max-width: 890px) {
    .filter {
        justify-content: center;
        gap: 10px;
    }

    .search-filter .container, .search-panel .container {
        flex-direction: column;
        gap: 10px;
    }
    
    /* .search-panel__text,
    .search-filter__text {
        display: none;
    } */
}

@media (max-width: 425px) {

    .filter {
        padding: 0;
    }

    .search-filter__btns {
        gap: 10px;
        flex-direction: column;
    }

    .search-filter__btns-item, .search-panel__input {
        padding: 10px;
        min-width: 226.5px;
    }

}