.randomizer-card .cards__item {
	margin: 0 auto;
}

.randomizer-button {
	display: block;
	padding: 15px 60px;
	background: none;
	border: 2px solid black;
	border-radius: 3px;
	color: white;
	margin: 50px auto;
	transition: all 0.3s;

}

.randomizer-button:hover {
	color: #000;
	background-color: #fff;
}

.confetti-animation {
	position: absolute;
	top: 0;
	left: 0;
	animation: confetti 5s ease-out; /* Плавное исчезновение */
}

@keyframes confetti {
	0% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
	50% {
		opacity: 0.6;
		transform: translateY(-20px) scale(1.1);
	}
	100% {
		opacity: 0;
		transform: translateY(-100px) scale(0.5);
	}
}
