/* Randomizer.css */

/* Начальные стили для карточек */
.randomizer-card {
	transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Анимация для карточки при входе */
.coffee-card-enter {
	transform: scale(0.8); /* Уменьшаем карточку при входе */
}

.coffee-card-enter-active {
	transform: scale(1); /* Возвращаем карточку в нормальный размер */
	opacity: 1;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Анимация для карточки при выходе */
.coffee-card-exit {
	transform: scale(1); /* Карточка в нормальном размере перед выходом */
	opacity: 1;
}

.coffee-card-exit-active {
	transform: scale(0.8); /* Уменьшаем карточку при выходе */
	opacity: 0;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

.randomizer-cards-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 70px;
	margin-bottom: 30px;
}

/* Стили для кнопки */
.randomizer-button {
	cursor: pointer;
	display: block;
	padding: 15px 60px;
	background: none;
	border: 2px solid black;
	border-radius: 3px;
	color: black;
	margin: 20px auto 50px auto;
	transition: all 0.3s;
	font-weight: bold;
	font-size: 16px;
}

.randomizer-button:hover {
	color: #fff;
	background-color: black;
}

/* Отключение кликабельности */
.non-clickable {
	pointer-events: none; /* Отключаем все события клика */
	opacity: 0.6; /* Дополнительно можно сделать карты полупрозрачными */
}

/* Стили для заголовка LOADING */
.title {
	text-align: center;
	font-size: 2rem;
	color: #333;
	margin-top: 20px;
	animation: loading-blink 1s infinite;
}

/* Анимация мигания LOADING */
@keyframes loading-blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}