

.random-button {
	padding: 10px 20px;
	font-size: 1.2rem;
	cursor: pointer;
	background-color: #ff9800;
	border: none;
	border-radius: 5px;
	color: white;
	transition: background-color 0.3s;
}

.random-button:hover {
	background-color: #e68900;
}

.confetti-animation {
	position: absolute;
	top: 0;
	left: 0;
	animation: confetti 5s ease-out; /* Плавное исчезновение */
}

@keyframes confetti {
	0% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
	50% {
		opacity: 0.6;
		transform: translateY(-20px) scale(1.1);
	}
	100% {
		opacity: 0;
		transform: translateY(-100px) scale(0.5);
	}
}
