.filter .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.filter__text {
    margin: 0;
    text-align: center;
}

.filter__btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.filter__btns-item {
    padding: 5px 20px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    color: black;
}

.filter__btns-item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

}

.filter__btns-item.active {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}