.cards__item {
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
    width: 180px;
    height: 240px;
    transition: all 0.3s;
}

.cards__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 240px;
    padding: 20px;
    z-index: -1;
    background-color: #fff;
    border-radius: 8px;
    opacity: 0.65;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cards__item .cards__item-img {
    width: 150px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.cards__item .cards__item-img,
.cards__item .cards__item-title {
    text-align: center;
}

.cards__item .cards__item-price {
    text-align: right;
}

.cards__item:hover {
    transform: scale(1.1);
}

.no-scroll {
    overflow: hidden;
}