.coffee-house {
	min-height: 600px;
	height: 100%;
	padding: 0 0 20px 0;
	background-image: url("./hero.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.coffee-house .content {
	display: flex;
	min-height: 600px;
	height: 100%;
	max-width: 678px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
	margin: 0 auto;
}

.coffee-house .btn {
	padding: 15px 60px;
	background: none;
	border: 2px solid white;
	border-radius: 3px;
	color: white;
	transition: all 0.3s;
}

.coffee-house .btn:hover {
	color: #000;
	background-color: #fff;
}

@media (max-width: 620px) {
	.coffee-house p {
		display: none;
	}
}