.our-best {
	background: url("./img/our-best.png");
}

.our-best .container {
	padding: 60px 20px;
}

.our-best__title {
	margin: 0 0 40px 0;
}

.cards,
.cards__items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 70px;
	max-width: 1000px;
	margin: 0 auto;
}
